@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&family=Noto+Sans&family=Noto+Sans+Mono&family=Noto+Color+Emoji&family=Nunito");
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 200, "opsz" 48;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100vw;
  background: #232323;
  color: #FFFFFF;
  overflow-x: hidden;
}

a {
  font-family: "Noto Sans", "Noto Color Emoji";
  font-weight: 500;
  text-decoration: none;
  color: #00796b;
}
a:hover {
  color: #00796b;
  text-decoration: underline;
}

h1 {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #FFFFFF;
}

h2 {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #FFFFFF;
}

h3 {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #FFFFFF;
}

h4 {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #FFFFFF;
}

h5 {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #FFFFFF;
}

h6 {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #FFFFFF;
}

p {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 6px;
  color: #FFFFFF;
}

pre, code, .pre, .code {
  font-family: "Noto Sans Mono", "Noto Color Emoji", monospace;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 6px;
  color: #FFFFFF;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  transition: 0.2s;
}
.navBar.navBarScrolled {
  background: #1e1e1e;
}
.navBar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.navBar > .container > .navBarBase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar > .container > .navBarBase > .navBarBrand {
  height: 30px;
  width: 30px;
}
.navBar > .container > .navBarBase > .navBarToggle {
  position: relative;
  display: none;
  color: #fff;
  transition: 0.2s;
}
.navBar > .container > .navBarBase > .navBarToggle:hover {
  text-decoration: none;
  color: #fff;
}
.navBar > .container > .navCollapse.open {
  display: block;
}
.navBar > .container > .navCollapse > ul {
  display: flex;
}
.navBar > .container > .navCollapse > ul > li {
  list-style: none;
  padding: 8px;
}
.navBar > .container > .navCollapse > ul > li > a {
  color: rgba(255, 255, 255, 0.6);
}
.navBar > .container > .navCollapse > ul > li > a:hover, .navBar > .container > .navCollapse > ul > li > a.active {
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 768px) {
  .navBar > .container {
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
  }
  .navBar > .container > .navBarBase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navBar > .container > .navBarBase > .navBarToggle {
    display: block;
  }
  .navBar > .container > .navCollapse {
    display: none;
    transition: 0.2s;
    opacity: 0;
  }
  .navBar > .container > .navCollapse > ul {
    display: block;
    width: 100vw;
  }
  .navBar > .container > .navCollapse > ul > li {
    padding: 8px 16px;
  }
}

.pageHero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
  background: #00796b;
  color: #fff;
}

main {
  margin-top: 8px;
}
@media (max-width: 768px) {
  main {
    padding: 0 8px;
  }
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 8px;
}
.listGrid > .listItem {
  background: #1e1e1e;
  border-radius: 6px;
  padding: 8px;
}
.listGrid > .listItem > .titleRow {
  display: flex;
  justify-content: space-between;
}
.listGrid > .listItem > .titleRow > .actionIcons > a:hover {
  text-decoration: none;
}

form > input, form textarea {
  background: #1e1e1e;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 8px;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  width: calc(100% - (2rem + 2px));
}
form > input:focus, form textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 121, 107, 0.8);
}
form > textarea {
  resize: vertical;
  min-height: 250px;
}
form > button {
  background-color: #00796b;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  padding: 0.5rem 1rem;
  transition: 100ms;
}

pre[class*=language-],
code[class*=language-] {
  color: #f6f6f6;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::selection,
code[class*=language-]::selection,
pre[class*=language-]::mozselection,
code[class*=language-]::mozselection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  pre[class*=language-],
code[class*=language-] {
    text-shadow: none;
  }
}
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #1a1a1a;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #f9f2f4;
}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
}

.token.punctuation {
  color: #999999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #7986cb;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #009688;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #757575;
  background: #1c1c1c;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #03a9f4;
}

.token.function {
  color: #f44336;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}

pre[class*=language-] > code[class*=language-] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #00796b;
  box-shadow: inset 5px 0 0 #00796b;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

/*# sourceMappingURL=style.css.map */
