@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&family=Noto+Sans&family=Noto+Sans+Mono&family=Noto+Color+Emoji&family=Nunito");

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
}

//////////////////////////////////////

$colorPrimary: #00796b;

$colorBackground1: #232323;
$colorBackground2: #1e1e1e;

$headerTags: ('h1': 1.5rem, 'h2': 1.4rem, 'h3': 1.3rem, 'h4': 1.2rem, 'h5': 1.1rem, 'h6': 1rem);

//////////////////////////////////////

* {
  padding: 0;
  margin: 0;
}

//////////////////////////////////////

body {
  height: 100%;
  width: 100vw;

  background: $colorBackground1;
  color: #FFFFFF;

  overflow-x: hidden;
}

//////////////////////////////////////

a {
  font-family: 'Noto Sans', 'Noto Color Emoji';
  font-weight: 500;

  text-decoration: none;

  color: $colorPrimary;
  
  &:hover {
    color: $colorPrimary;

    text-decoration: underline;
  }
}

//////////////////////////////////////

@each $headerTag, $headerSize in $headerTags {
  #{$headerTag} {
    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
    // font-size: #{$headerSize};

    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 6px;
    color: #FFFFFF;
  }
}

p {
  font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
  // font-size: 16px;

  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 6px;
  color: #FFFFFF;
}

pre, code, .pre, .code {
  font-family: 'Noto Sans Mono' , 'Noto Color Emoji', monospace;
  // font-size: 16px;

  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 6px;
  color: #FFFFFF;
}

//////////////////////////////////////

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

//////////////////////////////////////

.navBar {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  width: 100vw;

  transition: 0.2s;

  &.navBarScrolled {
    background: $colorBackground2;
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    > .navBarBase {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > .navBarBrand {
        height: 30px;
        width: 30px;
      }

      > .navBarToggle {
        position: relative;

        display: none;

        color: #fff;

        transition: 0.2s;

        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    > .navCollapse {
      &.open {
        display: block;
      }

      > ul {
        display: flex;

        > li {
          list-style: none;

          padding: 8px;

          > a {
            color: rgba(255, 255, 255, 0.6);

            &:hover, &.active {
              color: #FFFFFF;

              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    > .container {
      flex-direction: column;
      align-items: center;

      padding: 8px 16px;

      > .navBarBase {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        > .navBarToggle {
          display: block;
        }
      }

      > .navCollapse {
        display: none;

        transition: 0.2s;
        opacity: 0;

        > ul {
          display: block;
          width: 100vw;

          > li {
            padding: 8px 16px;
          }
        }
      }
    }
  }
}

//////////////////////////////////////

.pageHero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 33vh;

  background: $colorPrimary;
  color: #fff;
}

main {
  margin-top: 8px;

  @media (max-width: 768px) {
    padding: 0 8px;
  }
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 8px;

  > .listItem {
    background: $colorBackground2;

    border-radius: 6px;

    padding: 8px;

    > .titleRow {
      display: flex;
      justify-content: space-between;

      > .actionIcons > a:hover {
        text-decoration: none;
      }
    }
  }
}

form {
  > input, textarea {
    background: $colorBackground2;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;

    padding: 0.5rem 1rem;
    margin-bottom: 8px;

    color: #FFFFFF;

    font-size: 0.9rem;
    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;

    width: calc(100% - (2rem + 2px));

    &:focus {
      outline: none;
      border: 1px solid rgba($colorPrimary, 0.8);
    }
  }

  > textarea {
    resize: vertical;

    min-height: 250px;
  }

  > button {
    background-color: $colorPrimary;
    color: #fff;

    border: 1px solid transparent;
    border-radius: 4px;

    cursor: pointer;

    font-size: 0.9rem;
    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;

    padding: 0.5rem 1rem;

    transition: 100ms;
  }
}

//////////////////////////////////////

pre[class*="language-"],
code[class*="language-"] {
  color: #f6f6f6;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  background: #1a1a1a;
}
:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .3em;
  color: #db4c69;
  background: #f9f2f4;
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: .7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
}
.token.punctuation {
  color: #999999;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #7986cb;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #009688;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #757575;
  background: #1c1c1c;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #03a9f4;
}
.token.function {
  color: #f44336;
}
.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #00796b;
  box-shadow: inset 5px 0 0 #00796b;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
