@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&family=Noto+Color+Emoji&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
}

//////////////////////////////////////

$colorPrimary: #00796b;

$colorBackground1: #232323;
$colorBackground2: #1e1e1e;

$headerTags: ('h1': 1.5rem, 'h2': 1.4rem, 'h3': 1.3rem, 'h4': 1.2rem, 'h5': 1.1rem, 'h6': 1rem);

//////////////////////////////////////

* {
  padding: 0;
  margin: 0;
}

//////////////////////////////////////

body {
  height: 100%;
  width: 100vw;

  background: $colorBackground1;
  color: #FFFFFF;

  overflow-x: hidden;
}

//////////////////////////////////////

a {
  font-family: 'Noto Sans', 'Noto Color Emoji';
  font-weight: 400;

  text-decoration: none;

  color: $colorPrimary;
  
  &:hover {
    color: $colorPrimary;

    text-decoration: underline;
  }
}

//////////////////////////////////////

@each $headerTag, $headerSize in $headerTags {
  #{$headerTag} {
    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
    // font-size: #{$headerSize};

    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 6px;
    color: #FFFFFF;
  }
}

p {
  font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
  // font-size: 16px;

  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 6px;
  color: #FFFFFF;
}

pre, code, .pre, .code {
  font-family: 'Noto Sans Mono' , 'Noto Color Emoji', monospace;
  font-size: 1em;

  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 6px;
  color: #FFFFFF;
}

ul, ol {
  font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
  // font-size: 16px;

  font-weight: 400;
  line-height: 1.5;

  color: #FFFFFF;

  list-style-position: inside;

  margin-bottom: 6px;
}

//////////////////////////////////////

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

//////////////////////////////////////

.navBar {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  width: 100vw;

  transition: 0.2s;

  &.navBarScrolled {
    background: $colorBackground2;
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    > .navBarBase {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > .navBarBrand {
        height: 30px;
        width: 30px;
      }

      > .navBarToggle {
        position: relative;

        display: none;

        color: #fff;

        transition: 0.2s;

        width: 24px;
        height: 24px;

        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    > .navCollapse {
      &.open {
        display: block;
      }

      > ul {
        display: flex;

        margin: 0;

        > li {
          list-style: none;

          padding: 8px;

          > a {
            color: rgba(255, 255, 255, 0.6);

            &:hover, &.active {
              color: #FFFFFF;

              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    > .container {
      flex-direction: column;
      align-items: center;

      padding: 10px 16px;

      > .navBarBase {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        > .navBarToggle {
          display: block;
        }
      }

      > .navCollapse {
        display: none;

        transition: 0.2s;
        opacity: 0;

        > ul {
          display: block;
          width: 100vw;

          > li {
            padding: 8px 16px;
          }
        }
      }
    }
  }
}

//////////////////////////////////////

.pageHero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 33vh;

  background: $colorPrimary;
  color: #fff;
}

main {
  margin-top: 8px;

  @media (max-width: 768px) {
    padding: 0 8px;
  }
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 8px;

  > .listItem {
    background: $colorBackground2;

    border-radius: 6px;

    > .listItemImg {
      height: 200px;
      width: 100%;
      object-fit: cover;

      border-radius: 6px 6px 0 0;

      margin-bottom: 6px;
    }

    > .titleRow {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 8px;
      margin-bottom: 4px;

      > h2 {
        margin: 0;
      }

      > .actionIcons, a {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: $colorPrimary;

          text-decoration: none;
        }
      }
    }

    > p {
      padding: 0 8px;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 8px;
      }
    }
  }
}

form {
  > input, textarea {
    background: $colorBackground2;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;

    padding: 0.5rem 1rem;
    margin-bottom: 8px;

    color: #FFFFFF;

    font-size: 0.9rem;
    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;

    width: calc(100% - (2rem + 2px));

    &:focus {
      outline: none;
      border: 1px solid rgba($colorPrimary, 0.8);
    }
  }

  > textarea {
    resize: vertical;

    min-height: 250px;
  }

  > button {
    background-color: $colorPrimary;
    color: #fff;

    border: 1px solid transparent;
    border-radius: 4px;

    cursor: pointer;

    font-size: 0.9rem;
    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;

    padding: 0.5rem 1rem;

    transition: 100ms;
  }
}

//////////////////////////////////////

@media (prefers-color-scheme: light) {
  body {
    background-color: #FFFFFF;
    color: black;

    p, h1, h2, h3, h4, h5, h6 {
      color: black;
    }
  }

  pre, code, .pre, .code, ul, ol {
    color: black;
  }

  form > input, form > textarea {
    background: black;
    color: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .pageHero {
    color: white !important;

    > h1 {
      color: white !important;
    }
  }

  .listItem {
    background: white  !important;

    > p, h2 {
      color: black !important;
    }

    > a {
      color: rgba(0, 0, 0, 0.7);

      &:hover {
        color: $colorPrimary !important;

        text-decoration: none;
      }
    }
  }

  .navBarScrolled {
    background: white !important;
    filter: invert(1);
  }
}

//////////////////////////////////////

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#eff;background:#212121}.hljs ::selection,.hljs::selection{background-color:#353535;color:#eff}.hljs-comment{color:#4a4a4a}.hljs-tag{color:#b2ccd6}.hljs-operator,.hljs-punctuation,.hljs-subst{color:#eff}.hljs-operator{opacity:.7}.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{color:#f07178}.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{color:#f78c6c}.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{color:#ffcb6b}.hljs-strong{font-weight:700;color:#ffcb6b}.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__{color:#c3e88d}.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp{color:#89ddff}.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{color:#82aaff}.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{color:#c792ea}.hljs-emphasis{color:#c792ea;font-style:italic}.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#ff5370}.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:700}