@import 'global.module';

.consentBanner {
  position: fixed;

  right: 16px;

  @media (max-width: 768px) {
    left: 16px;
  }

  bottom: 16px;

  padding: 16px;

  border-radius: 16px;
  border: 1px solid rgba($colorBorderLight2, 0.3);

  background: $colorSurfaceLight2;

  display: flex;

  flex-direction: column;
  justify-content: center;

  align-items: flex-end;

  gap: 16px;

  max-width: 700px;

  z-index: 5;

  p {
    color: $colorTextLight1;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  @media (prefers-color-scheme: dark) {
    background: $colorSurfaceDark2;

    border-color: rgba($colorBorderDark2, 0.3);

    p {
      color: $colorTextDark1;
    }
  }
}

.card {
  background: $colorSurfaceLight2;

  border-radius: 16px;
  border: 1px solid rgba($colorBorderLight2, 0.3);

  padding: 16px;

  @media (prefers-color-scheme: dark) {
      background: $colorSurfaceDark2;

      border-color: rgba($colorBorderDark2, 0.3);
  }
}

.progressBar {
  width: 100%;

  height: 10px;

  background: $colorSurfaceLight3;

  border: 1px solid rgba($colorBorderLight3, 0.3);
  border-radius: 8px;

  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    background: $colorSurfaceDark3;

    border-color: rgba($colorBorderDark3, 0.3);
  }

  > .progressBarProgress {
    height: 100%;

    background: $colorPrimary;
  }
}

.button {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 8px;

  padding: 8px 16px;

  border-radius: 40px;
  border: none;

  cursor: pointer;

  font-family: 'Rethink Sans', 'Noto Color Emoji', 'Noto Emoji', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;

  transition: background 0.1s ease-in-out;

  &[data-type="primary"] {
    background: #0F766E;
    color: $colorTextDark1;

    &:hover {
      background: #115e59;
    }
  }

  &[data-type="text"] {
    background: transparent;
    color: $colorTextLight1;

    &:hover {
      background: rgba($colorSurfaceLight4, 0.7);
    }

    @media (prefers-color-scheme: dark) {
      color: $colorTextDark1;

      &:hover {
        background: rgba($colorSurfaceDark4, 0.7);
      }
    }
  }

  &[data-type="icon"] {
    background: transparent;
    color: $colorTextLight1;

    padding: 8px;

    &:hover {
      background: rgba($colorSurfaceLight4, 0.7);
    }

    @media (prefers-color-scheme: dark) {
      color: $colorTextDark1;

      &:hover {
        background: rgba($colorSurfaceDark4, 0.7);
      }
    }
  }
}

.dialog {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 15;

  overflow: hidden;

  > .card {
    width: 700px;

    max-height: calc(100vh - 2rem);

    display: flex;

    flex-direction: column;

    padding: 0;

    overflow: hidden;

    > .dialogHeader {
      display: flex;

      justify-content: space-between;
      align-items: center;

      padding: 1rem;

      > label {
        font-size: 1.3rem;

        font-weight: 700;
      }
    }

    > .dialogContent {
      overflow: auto;

      padding: 0 1rem 1rem;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;

      border-radius: 0;
      border: none;

      max-height: 100vh;
    }
  }
}

.inputText {
  padding: .5rem 1rem;

  margin-bottom: .5rem;

  border-radius: 8px;
  border: 1px solid rgba($colorBorderLight3, 0.3);

  width: 100%;

  background: $colorSurfaceLight3;

  font-family: 'Rethink Sans', 'Noto Color Emoji', 'Noto Emoji', sans-serif;
  font-size: 1rem;

  color: $colorTextLight1;

  transition: border 0.1s ease-in-out;

  &:focus {
    border-color: $colorPrimary;

    outline: none;
  }

  @media (prefers-color-scheme: dark) {
    background: $colorSurfaceDark3;

    border-color: rgba($colorBorderDark3, 0.3);

    color: $colorTextDark1;
  }
}

.inputDropdown {
  padding: .5rem 1rem;

  margin-bottom: .5rem;

  border-radius: 8px;
  border: 1px solid rgba($colorBorderLight3, 0.3);

  cursor: pointer;

  background: $colorSurfaceLight3;

  font-family: 'Rethink Sans', 'Noto Color Emoji', 'Noto Emoji', sans-serif;
  font-size: 1rem;

  color: $colorTextLight1;

  transition: border 0.1s ease-in-out;

  &:focus {
    border-color: $colorPrimary;

    outline: none;
  }

  @media (prefers-color-scheme: dark) {
    background: $colorSurfaceDark3;

    border-color: rgba($colorBorderDark3, 0.3);

    color: $colorTextDark1;
  }
}

textarea.inputText {
  resize: vertical;

  min-height: 250px;
}

.separatedButtonGroup {
  display: flex;

  gap: 8px;
}

.header {
  height: 30vh;
  min-height: 300px;

  .container {
    height: 100%;

    display: flex;

    align-items: end;
  }

  @media print {
    min-height: 0;
    height: fit-content;

    text-align: center;

    h1 {
      width: 100%;
    }

    margin-bottom: 2rem;
  }
}

.paginator {
  display: flex;

  justify-content: center;

  gap: 8px;

  > .pageNumbers {
    display: flex;

    gap: 8px;
  }
}

.adBanner {
  position: relative;

  width: 100%;
  height: calc((8px * 2) + 90px);

  padding: 8px;

  > .adContent {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
  }

  > .adGoogle {
    position: absolute;

    top: 8px;
    bottom: 8px;

    left: 8px;
    right: 8px;

    display: flex;

    align-items: center;
    justify-content: center;

    &:has(ins[data-blocked="yes"]), &:has(ins[data-ad-status="unfilled"]), &:has(ins:empty) {
      display: none;
    }
  }

  > .adAboutButton {
    position: absolute;

    top: 8px;
    right: 8px;
  }
}