@import 'global.module';

.container {
  flex: 1;

  width: 100%;

  display: flex;

  justify-content: center;
  flex-direction: column;

  > h1 {
    margin-bottom: 0.3rem;
  }

  > p {
    margin-bottom: 1rem;
  }
}