@import 'global.module';

.hero {
  height: 100svh;

  padding-top: 57px;
  padding-bottom: 1rem;

  > .container {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100%;

    > .heroTop {
      display: flex;

      justify-content: center;

      flex-direction: column;

      flex-grow: 1;

      width: 100%;

      > h1 {
        font-weight: 700;

        margin-bottom: .5rem;
      }

      > .socialIcons {
        margin-top: 1rem;

        display: flex;

        list-style: none;

        gap: 8px;
      }
    }
  }
}

.skillsGrid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 1rem;

  > .skillCard {
    display: flex;

    align-items: center;

    gap: 0.5rem;

    > .skillInner {
      flex-grow: 1;

      display: flex;

      flex-direction: column;

      justify-content: space-between;

      height: 100%;

      > .skillLabel {
        display: flex;

        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.postsGrid {
  display: grid;

  grid-template-columns: repeat(3, minmax(320px, 1fr));

  gap: 1rem;

  margin-top: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.blogCardWrapperLink {
  text-decoration: none;

  color: inherit;

  &:hover {
    text-decoration: none;

    color: inherit;
  }
}

.blogCard {
  padding: 0;

  overflow: hidden;

  cursor: pointer;

  transition: 200ms scale;

  > .header {
    height: 216px;

    position: relative;

    > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    > .headerOverlay {
      position: absolute;

      top: 0;

      width: 100%;
      height: 100%;

      background: linear-gradient(180deg, rgba($colorSurfaceLight2, 0.16) 0%, rgba($colorSurfaceLight2, 0.75) 50%, $colorSurfaceLight2 100%) 100% / cover no-repeat;

      display: flex;

      flex-direction: column;
      align-items: end;

      padding: 1rem;

      @media (prefers-color-scheme: dark) {
        background: linear-gradient(180deg, rgba($colorSurfaceDark2, 0.16) 0%, rgba($colorSurfaceDark2, 0.75) 50%, $colorSurfaceDark2 100%) 100% / cover no-repeat;
      }
    }
  }

  > .content {
    padding: 1rem;

    display: flex;

    flex-direction: column;

    gap: 0.5rem;

    > .title {
      > h1 {
        font-size: 16px;
      }

      > label {
        color: rgba($colorTextLight1, 0.75);

        font-size: 14px;
      }
    }

    > p {
      line-height: normal;

      margin: 0;
    }
  }

  &:hover {
    scale: 1.01;
  }

  @media (prefers-color-scheme: dark) {
    > .content {
      > .title {
        > label {
          color: rgba($colorTextDark1, 0.75);
        }
      }
    }
  }
}