$colorPrimary: hsl(175, 77%, 26%);

$colorTextLight1: hsl(175, 77%, 10%);
$colorTextLight2: hsl(175, 30%, 30%);

$colorSurfaceLight1: hsl(175, 25%, 90%);
$colorSurfaceLight2: hsl(175, 20%, 95%);
$colorSurfaceLight3: hsl(175, 20%, 92%);
$colorSurfaceLight4: hsl(175, 20%, 85%);

$colorBorderLight1: hsl(175, 20%, 80%);
$colorBorderLight2: hsl(175, 20%, 70%);
$colorBorderLight3: hsl(175, 20%, 60%);
$colorBorderLight4: hsl(175, 20%, 50%);

$colorTextDark1: hsl(175, 15%, 85%);
$colorTextDark2: hsl(175, 5%, 65%);

$colorSurfaceDark1: hsl(175, 10%, 10%);
$colorSurfaceDark2: hsl(175, 10%, 15%);
$colorSurfaceDark3: hsl(175, 5%, 20%);
$colorSurfaceDark4: hsl(175, 5%, 25%);

$colorBorderDark1: hsl(175, 5%, 30%);
$colorBorderDark2: hsl(175, 5%, 40%);
$colorBorderDark3: hsl(175, 5%, 50%);
$colorBorderDark4: hsl(175, 5%, 60%);